
.site-blocks-cover{
    background-image: url('/assets/images/hero_bg_1.jpg');
  }
  
  html {
    overflow-y: hidden;
  }

.site-wrap{
  background: white;
}
  
.nounderline{
  text-decoration: none;
}

.site-mobile-menu-body a:hover, a:active, a:link{
  text-decoration: none;
}
